# ğŸ¼ PrÃ¡ce s daty pomocÃ­ Pandas
V tomto kurzu budeme vÄ›tÅ¡inou pracovat s tabulkovÃ½mi daty. K prÃ¡ci s takovÃ½m typem dat se velmi Äasto vyuÅ¾Ã­vÃ¡ balÃ­Äek `pandas`. NenÃ­ moÅ¾nÃ© vÃ¡m v rÃ¡mci jednoho cviÄenÃ­ ukÃ¡zat vÅ¡echno (`pandas` toho umÃ­ udÄ›lat vÃ¡Å¾nÄ› hodnÄ› ğŸ’ª). NaÅ¡Ã­m cÃ­lem je ukÃ¡zat vÃ¡m zÃ¡kladnÃ­ principy. V kaÅ¾dÃ© sekci je pÅ™idÃ¡n link na dokumentaci, kdybyste chtÄ›li vÄ›dÄ›t vÃ­c. Celou dokumentaci naleznete [zde](https://pandas.pydata.org/pandas-docs/stable/index.html).

Chcete-li naÄÃ­st balÃ­Äek `pandas` a zaÄÃ­t s nÃ­m pracovat, je tÅ™eba jej importovat. Komunitou schvÃ¡lenÃ½ alias pro `pandas` je `pd`.

In [ ]:
import pandas as pd

## â˜ï¸ DataFrame

`DataFrame` je 2D datovÃ¡ struktura, kterÃ¡ mÅ¯Å¾e uklÃ¡dat data rÅ¯znÃ½ch typÅ¯ (vÄetnÄ› znakÅ¯, celÃ½ch ÄÃ­sel, hodnot s plovoucÃ­ desetinnou ÄÃ¡rkou, kategorickÃ½ch dat a dalÅ¡Ã­ch) ve sloupcÃ­ch. Je to nÄ›co podobnÃ© jako spreadsheet nebo SQL tabulka.

`DataFrame` se sklÃ¡dÃ¡ z Å™Ã¡dkÅ¯ a sloupcÅ¯ kde
* kaÅ¾dÃ½ **Å™Ã¡dek** reprezentuje **jeden zÃ¡znam**
* kaÅ¾dÃ½ **sloupec** reprezentuje **hodnoty jednoho pÅ™Ã­znaku**

Å˜Ã¡dky i sloupce majÃ­ svÃ© identifikÃ¡tory, podle kterÃ½ch se na nÄ› mÅ¯Å¾eme dotazovat. IdentifikÃ¡tor Å™Ã¡dku se nazÃ½vÃ¡ **index**. Sloupec je identifikovÃ¡n svÃ½m **nÃ¡zvem**.

![dataframe](img/dataframe.png)

### Inicializace DataFramu
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

`DataFrame` inicializujeme pomocÃ­ funkce `pd.DataFrame()`. Parametrem mÅ¯Å¾eme zadat napÅ™Ã­klad data, kterÃ¡ mÃ¡ `DataFrame` obsahovat, indexy Äi nÃ¡zvy sloupcÅ¯. Pokud indexy Äi nÃ¡zvy sloupcÅ¯ nezadÃ¡me, `pandas` defaultnÄ› pouÅ¾ije celÃ¡ ÄÃ­sla zaÄÃ­najÃ­cÃ­ od 0.

âš™ï¸**UkÃ¡zka:**
PÅ™edstavme si `DataFrame` obsahujÃ­cÃ­ statistiky o poÄtu vypitÃ½ch nÃ¡pojÅ¯ danÃ©ho typu bÄ›hem jednoho tÃ½dne. MÄ›Å™enÃ­ probÃ­hala u tÅ™Ã­ osob â€“ Honza, Emma a Alex: 
- Honza vypil 3 kÃ¡vy a 10 ÄajÅ¯. 
- Emma vypila 14 matÃ©Äek, 
- Alex 5 kÃ¡v, 1 Äaj a 3 matÃ©Äka.

`DataFrame` bychom mohli vytvoÅ™it napÅ™Ã­klad tÃ­mto zpÅ¯sobem:

In [ ]:
# we've only specified the data as 2D array of rows, default indices and column names were used
pd.DataFrame(data=[[3, 10, 0], [0, 0, 14], [5, 1, 3]])

I kdyÅ¾ vÃ½Å¡e uvedenÃ½ zpÅ¯sob vytvoÅ™il korektnÃ­ dataset, na prvnÃ­ pohled nenÃ­ jasnÄ› vidÄ›t o jakÃ¡ data se jednÃ¡. PÅ™idÃ¡nÃ­ indexÅ¯ a nÃ¡zvÅ¯ sloupcÅ¯ by jistÄ› pomohlo.

In [ ]:
beverage_df = pd.DataFrame(
    # data (2D array of rows)
    data=[[3, 10, 0], [0, 0, 14], [5, 1, 3]],
    # row indices
    index=['Honza', 'Emma', 'Alex'],
    # column labels
    columns=['coffee', 'tea', 'mate']
)
beverage_df

â˜•ï¸ TeÄ uÅ¾ je jasnÃ©, jakÃ¡ data `DataFrame` obsahuje â˜•ï¸

## â˜ï¸ Series
Series je 1D struktura s Å™Ã¡dkovÃ½mi indexy. KaÅ¾dÃ½ sloupec `DataFramu` je `Series`.

![series](img/series.png)

### Inicializace Series
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

`Series` inicializujeme pomocÃ­ funkce `pd.Series()`. Mnohem ÄastÄ›ji ale budeme vytvÃ¡Å™et `Series` pomocÃ­ **vÃ½bÄ›ru sloupcÅ¯** `DataFramu`. K tomu nÃ¡m poslouÅ¾Ã­ **nÃ¡zev** danÃ©ho sloupce.

In [ ]:
# creates Series named 'coffee' representing the number of coffees drunk
pd.Series(data=[3,0,5], index=['Honza', 'Emma', 'Alex'], name='coffee')

In [ ]:
# same as above achieved by selecting the coffee column from existing beverage_df
beverage_df['coffee']

Ve vÃ½stupu buÅˆky vidÃ­me nÃ¡sledujÃ­cÃ­ informace:
* samotnÃ¡ `data` 
    * (3, 0, 5)
    * namÄ›Å™enÃ© hodnoty
* `index`
    * (Honza, Emma, Alex)
    * podle indexu se dokÃ¡Å¾eme na danÃ¡ mÄ›Å™enÃ­ dotazovat, ale nemusÃ­ bÃ½t unikÃ¡tnÃ­ (mohl by dvakrÃ¡t obsahovat prvek Honza)
* `name`
    * reprezentuje nÃ¡zev `Series` a je volitelnÃ½, takÅ¾e jej mÅ¯Å¾eme specifikovat pro lepÅ¡Ã­ orientaci ve vÃ½pisech bunÄ›k
    * pokud `Series` vznikne vÃ½bÄ›rem sloupce `DataFramu`, nÃ¡zev `Series` se bude shodovat s nÃ¡zvem sloupce
* `dtype`
    * urÄuje datovÃ½ typ dat uloÅ¾enÃ½ch v `Series`
    * pokud ho nespecifikujeme, `pandas` se ho pokusÃ­ odvodit

In [ ]:
# non-unique index, no name specified, dtype inferred
seriesHonza = pd.Series(data=[3,0,5], index=['Honza', 'Honza', 'Honza'])

In [ ]:
seriesHonza.Honza

## â˜ï¸ VÃ½bÄ›r
NÄ›kdy chceme pracovat pouze nad urÄitou podmnoÅ¾inou `DataFramu`. `Pandas` nÃ¡m umoÅ¾Åˆuje vybrat pouze konkrÃ©tnÃ­ sloupec/Å™Ã¡dek Äi podmnoÅ¾inu sloupcÅ¯/Å™Ã¡dkÅ¯.

### VÃ½bÄ›r sloupcÅ¯
Sloupec zÃ­skÃ¡me tak, Å¾e za nÃ¡zev `DataFrame` promÄ›nnÃ© napÃ­Å¡eme do hranatÃ½ch zÃ¡vorek nÃ¡zev sloupce. VÃ½sledkem operace bude `Series`. Pro vÃ½bÄ›r vÃ­ce sloupcÅ¯ lze do hranatÃ½ch zÃ¡vorek vloÅ¾it Â **pole nÃ¡zvÅ¯**. VÃ½sledkem pak bude `DataFrame`.

Existuje takÃ© alternativnÃ­ syntaxe pro vÃ½bÄ›r **jednoho sloupce**, kterÃ© ale fungujÃ­ jen v nÄ›kterÃ½ch pÅ™Ã­padech (tzv. dot notation).

**Bracket notation**
* `df['column_name']`
* funguje vÅ¾dy,
* je rychlejÅ¡Ã­ (vizte srovnÃ¡nÃ­ [zde](https://stackoverflow.com/questions/56240925/speed-difference-between-bracket-notation-and-dot-notation-for-accessing-columns)).

**Dot notation**
* `df.column_name`
* i kdyÅ¾ lÃ©pe vypadÃ¡, jednÃ¡ se o "bad practice", 
* nefunguje pokud nÃ¡zev sloupce:
     * obsahuje mezeru (napÅ™. max temperature),
     * je integer (napÅ™. 1),
     * shoduje se s nÃ¡zvem atributu DataFrame (napÅ™. count),
     * shoduje se s nÄ›jakÃ½m klÃ­ÄovÃ½m slovem Pythonu (napÅ™. class).

In [ ]:
# single column selection dot notation
beverage_df.coffee

In [ ]:
# single column selection bracket notation
single = beverage_df['coffee']
single

In [ ]:
# multiple column selection
multiple = beverage_df[['coffee','mate']]
multiple

In [ ]:
# if you don't understand the syntax, look up string interpolation in Python
print("Result of single column selection is of type {}" .format(type(single)))
print("Result of multiple column selection is of type {}" .format(type(multiple)))

### VÃ½bÄ›r pomocÃ­ loc
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

`loc[]` umoÅ¾Åˆuje **vÃ½bÄ›r skupiny Å™Ã¡dkÅ¯ a sloupcÅ¯** pomocÃ­ jejich **nÃ¡zvÅ¯** (nÃ¡zvÅ¯ sloupcÅ¯ nebo indexÅ¯ Å™Ã¡dkÅ¯). Funkce `loc[]` se uvnitÅ™ hranatÃ½ch zÃ¡vorek sklÃ¡dÃ¡ ze dvou ÄÃ¡stÃ­ oddÄ›lenÃ½ch ÄÃ¡rkou. PrvnÃ­ ÄÃ¡st slouÅ¾Ã­ k vÃ½bÄ›ru Å™Ã¡dkÅ¯ a druhÃ¡ k vÃ½bÄ›ru sloupcÅ¯.

Å˜Ã¡dky nebo sloupce mÅ¯Å¾eme vybÃ­rat napÅ™Ã­klad pomocÃ­:
* jednoho nÃ¡zvu, napÅ™. `'coffee'` nebo `'Honza'`
* pole nÃ¡zvÅ¯, napÅ™. `['coffee', 'mate']` nebo `['Honza', 'Emma']`
* slice objekt s nÃ¡zvy, napÅ™. `'Honza':'Alex'`
* vÃ­ce v dokumentaci

#### Slice objekty v loc
* `start:stop` - od `start` do `stop`
* `start:` - od `start` do poslednÃ­ho Å™Ã¡dku/sloupce
* `:stop` - od prvnÃ­ho Å™Ã¡dku/sloupce do `stop`
* `:`- vÅ¡echny Å™Ã¡dky/sloupce

Tady je pÃ¡r pÅ™Ã­kladÅ¯ pouÅ¾itÃ­ funkce `.loc[]`:

In [ ]:
# single row selection (note that : in column part can be ommited)
# beverage_df.loc['Honza', :] <- this is equivalent to expresion below
beverage_df.loc['Honza']

In [ ]:
# single column selection
beverage_df.loc[:,'tea']

In [ ]:
# multiple column selection
beverage_df.loc[:,['coffee', 'mate']]

In [ ]:
# multiple row selection (note that : in column part can be ommited)
beverage_df.loc[['Emma', 'Alex']]

In [ ]:
# mixed selection (column and row)
beverage_df.loc[['Emma', 'Alex'],['mate', 'tea']]

In [ ]:
# mixed selection using slice objects
beverage_df.loc[:'Emma','tea':]

### VÃ½bÄ›r pomocÃ­ iloc
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

`iloc[]` umoÅ¾ÅˆujÄ› **vÃ½bÄ›r skupiny Å™Ã¡dkÅ¯ a sloupcÅ¯** pomocÃ­ jejich **pozice**. Funkce `iloc[]` se uvnitÅ™ hranatÃ½ch zÃ¡vorek taky sklÃ¡dÃ¡ ze dvou ÄÃ¡stÃ­ oddÄ›lenÃ½ch ÄÃ¡rkou. PrvnÃ­ ÄÃ¡st slouÅ¾Ã­ k vÃ½bÄ›ru Å™Ã¡dkÅ¯ a druhÃ¡ opÄ›t k vÃ½bÄ›ru sloupcÅ¯ (stejnÄ› jako u `.loc[]`).

Å˜Ã¡dky nebo sloupce mÅ¯Å¾eme vybÃ­rat napÅ™Ã­klad pomocÃ­:
* jednÃ© pozice (indexujeme od 0), napÅ™. `2`
* pole pozic, napÅ™. `[0,2]`
* slice objekt s pozicemi, napÅ™. `1:7`.
* vÃ­ce v dokumentaci

#### Slice objekty v iloc
* `start:stop` - od `start` do `stop-1`
* `start:` - od `start` do poslednÃ­ho Å™Ã¡dku/sloupce
* `:stop` - od prvnÃ­ho Å™Ã¡dku/sloupce do `stop-1`
* `:`- vÅ¡echny Å™Ã¡dky/sloupce

Tady je pÃ¡r pÅ™Ã­kladÅ¯ pouÅ¾itÃ­ funkce `.iloc[]`:

In [ ]:
# single column selection
beverage_df.iloc[:,0]

In [ ]:
# multiple column selection
beverage_df.iloc[:,[0,2]]

In [ ]:
# single row selection
beverage_df.iloc[1]

In [ ]:
# multiple row selection using slice
beverage_df.iloc[1:]

In [ ]:
# mixed selection (column and row)
beverage_df.iloc[:2,[2,1]]

## â˜ï¸ FiltrovÃ¡nÃ­
ğŸ‘¨ğŸ½â€ğŸ’» [user guide](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-boolean)

ZatÃ­m jsme si ukÃ¡zali vÃ½bÄ›r Å™Ã¡dkÅ¯ a sloupcÅ¯ podle jejich nÃ¡zvÅ¯ nebo pozice. Co kdybychom chtÄ›li vybrat podle urÄitÃ© podmÃ­nky? I to je v `pandas` moÅ¾nÃ©.

Pokud chceme vybrat Å™Ã¡dky na zÃ¡kladÄ› podmÃ­nky, je tÅ™eba vloÅ¾it podmÃ­nku do hranatÃ½ch zÃ¡vorek za nÃ¡zev `DataFramu`. PodmÃ­nka vypadÃ¡ napÅ™Ã­klad takto:

In [ ]:
beverage_df['mate'] >= 3

VÃ½sledkem podmÃ­nky je `Series` typu `bool`. Ta se pouÅ¾ije k vyfiltrovÃ¡nÃ­ Å™Ã¡dkÅ¯. Do vÃ½sledku se dostanou jen ty, jejichÅ¾ hodnota je `True`.

In [ ]:
beverage_df[beverage_df['mate'] >= 3]

PodmÃ­nky lze kombinovat pomocÃ­ & (and) a | (or). Ale âš ï¸ POZOR âš ï¸ pÅ™i kombinovÃ¡nÃ­ vÃ­ce podmÃ­nek musÃ­ bÃ½t kaÅ¾dÃ¡ podmÃ­nka **uzavÅ™ena kulatÃ½mi zÃ¡vorkami**.

In [ ]:
# beverage_df['mate'] >= 3 & beverage_df['coffee'] <= 4 will produce error due to operator precedence
(beverage_df['mate'] >= 3) & (beverage_df['coffee'] <= 4)

In [ ]:
beverage_df[(beverage_df['mate'] >= 3) & (beverage_df['coffee'] <= 4)]

### isin()
ğŸ‘¨ğŸ½â€ğŸ’» [user guide](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-basics-indexing-isin) 

ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html)

DalÅ¡Ã­ moÅ¾nostÃ­ jak filtrovat Å™Ã¡dky je pomocÃ­ metody `isin()` definovanÃ© na `Series`.

In [ ]:
# number of coffees is exactly 5 or 0
beverage_df[beverage_df['coffee'].isin([5,0])]

In [ ]:
# isin() works on index too
beverage_df[beverage_df.index.isin(['Honza','Alex'])]

### PouÅ¾itÃ­ podmÃ­nek v loc a iloc

PodmÃ­nky lze vklÃ¡dat i do funkcÃ­ `loc` a `iloc`, kterÃ© jsme si ukazovali pÅ™ed chvÃ­lÃ­. `loc` si s podmÃ­nkami poradÃ­ bez problÃ©mÅ¯. `iloc` neumÃ­ zpracovat `Series`, proto potÅ™ebujeme `Series` zkonvertovat na pole booleanÅ¯ pomocÃ­ `.values`.

In [ ]:
# filtering using loc with Series
beverage_df.loc[beverage_df['coffee'].isin([5,0]), 'coffee']

In [ ]:
# filtering using iloc with array (note how we used .values to convert Series to array) 
beverage_df.iloc[beverage_df['coffee'].isin([5,0]).values, 0]

## â˜ï¸ NaÄtenÃ­ datasetu
NÃ¡Å¡ jednoduchÃ½ `DataFrame` byl sice praktickÃ½, ale na ukÃ¡zku komplikovanÄ›jÅ¡Ã­ch operacÃ­ nÃ¡m uÅ¾ nebude staÄit. VyuÅ¾ijeme (dÅ™Ã­ve) volnÄ› dostupnÃ½ dataset z meteorologickÃ© stanice Praha LibuÅ¡ [cca zdroj](https://www.chmi.cz/historicka-data/pocasi/denni-data).

Dataset je uloÅ¾en ve formÃ¡tu xls. NaÄteme jej pomocÃ­ `pandas` funkce `read_excel` (ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)). My jsme vyuÅ¾ili tyto parametry:
* cesta k souboru, kterÃ½ chceme naÄÃ­st
* `sheet_name` - pole nÃ¡zvÅ¯ nebo indexÅ¯ (indexuje se od 1) seÅ¡itÅ¯ (sheets), kterÃ© chceme naÄÃ­st
* `header` - pozice zÃ¡hlavÃ­ tabulky (indexuje se od 0)

Funkce vracÃ­ buÄ jeden `DataFrame` v pÅ™Ã­padÄ›, Å¾e jsme naÄetli jen jeden seÅ¡it, nebo dictionary `DataFramÅ¯` v pÅ™Ã­padÄ› vÃ­ce seÅ¡itÅ¯.

In [ ]:
# df_dict is a dictionary because we've specified multiple sheets
df_dict = pd.read_excel("data/P1PLIB01.xls", sheet_name=[1, 2, 3], header=3)
df_avg, df_max, df_min = df_dict.values()

Pokud se chceme podÃ­vat na to, jakÃ½ dataset jsme naÄetli, poslouÅ¾Ã­ nÃ¡m funkce 
* `head` ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)
* `tail` ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)
* `info` ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)

Funkce `head`/`tail` jsou urÄeny k zobrazenÃ­ prvnÃ­ch/poslednÃ­ch n zÃ¡znamÅ¯ z `DataFramu`. Funkce `info` produkuje struÄnÃ© shrnutÃ­ o `DataFramu`. UkÃ¡Å¾e nÃ¡m napÅ™Ã­klad datovÃ© typy sloupcÅ¯ nebo kolik hodnot bylo v kaÅ¾dÃ©m sloupci vyplnÄ›no.

In [ ]:
# displays first 2 rows, default is 5
df_max.head(2)

In [ ]:
# displays last 7 rows
df_max.tail(7)

ğŸ‘‰ Z vÃ½stupu funkcÃ­ `head` a `tail` vidÃ­me, Å¾e `DataFrame` obsahuje sloupce pro rok, mÄ›sÃ­c a 31 sloupcÅ¯ pro kaÅ¾dÃ½ den v mÄ›sÃ­ci. Rok a mÄ›sÃ­c jsou celÃ¡ ÄÃ­sla, sloupce 1. aÅ¾ 31. obsahujÃ­ floaty a nÄ›kdy hodnotu `NaN`. `NaN` **reprezentuje chybÄ›jÃ­cÃ­ hodnotu** (v pÅ¯vodnÃ­m souboru tato hodnota nebyla vyplnÄ›na). Floaty ve sloupcÃ­ch 1. aÅ¾ 31. reprezentujÃ­ maximÃ¡lnÃ­ pozorovanou teplotu v danÃ½ den.

Tato zjiÅ¡tÄ›nÃ­ si mÅ¯Å¾eme ovÄ›Å™it pomocÃ­ funkce `info`:

In [ ]:
# produces short summary
df_max.info()

ğŸ‘‰ Z vÃ½stupu funkce `info` vidÃ­me, Å¾e jsme sprÃ¡vnÄ› odhadli datovÃ© typy. NavÃ­c jsme se dozvÄ›dÄ›li, Å¾e chybÄ›jÃ­cÃ­ hodnoty obsahujÃ­ jen sloupce 29, 30 a 31. To dÃ¡vÃ¡ smysl, protoÅ¾e ne vÅ¡echny mÄ›sÃ­ce majÃ­ tolik dnÃ­.

## â˜ï¸ NÄ›kterÃ© Series funkce
V tÃ©to sekci si ukÃ¡Å¾eme, jak zÃ­skat zajÃ­mavÃ© informace o konkrÃ©tnÃ­m sloupci. UmÃ­me zÃ­skat napÅ™Ã­klad minimÃ¡lnÃ­, maximÃ¡lnÃ­ a prÅ¯mÄ›rnou hodnotu, poÄet unikÃ¡tnÃ­ch hodnot atp.

PÅ™edtÃ­m, neÅ¾ zaÄneme, pÅ™ejmenujeme sloupce, abychom nemuseli psÃ¡t tolik diakritiky:

In [ ]:
# renames columns
df_max = df_max.rename(columns={"rok": "year", "mÄ›sÃ­c": "month"})

In [ ]:
year = df_max["year"]
# unique values of year column
year.unique()

In [ ]:
# number of unique values of year column
year.nunique()

In [ ]:
# min and max value of series
print("ğŸ“… PrvnÃ­ a poslednÃ­ rok mÄ›Å™enÃ­: ")
print("prvnÃ­ - {}" .format(year.min()))
print("poslednÃ­ - {}" .format(year.max()))

## â˜ï¸ Reshaping - Melt, Pivot, Stack, Unstack
ğŸ‘¨ğŸ½â€ğŸ’» [user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)

Funkce `melt`, `pivot`, `stack` a `unstack` slouÅ¾Ã­ ke zmÄ›nÄ› tvaru (tzv. reshaping) `DataFramu`. Abychom si mohli vysvÄ›tlit, co pÅ™esnÄ› dÄ›lajÃ­, musÃ­me si zadefinovat, co to je Å¡irokÃ½ a dlouhÃ½ formÃ¡t dat.

### Å irokÃ½ a dlouhÃ½ formÃ¡t (wide and long format)
Å irokÃ½ (wide) formÃ¡t je formÃ¡t, kde mÃ¡ kaÅ¾dÃ½ atribut (pÅ™Ã­znak) vlastnÃ­ sloupec. DlouhÃ½ (long) formÃ¡t mÃ¡ jeden sloupec pro vÅ¡echny pÅ™Ã­znaky a jeden sloupec pro jejich hodnoty. NejsnÃ¡ze se to dÃ¡ pochopit z obrÃ¡zku:
![long_wide](img/long_wide.png)

### Melt
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.melt.html)

Funkce `melt` transformuje DataFrame do dlouhÃ©ho formÃ¡tu. VolitelnÄ› mÅ¯Å¾eme pÅ™es parametr `id_vars` zadat nÃ¡zvy sloupcÅ¯, kterÃ© nechceme transformovat.

In [ ]:
# reshape to long format
df_max.melt()

In [ ]:
df_max_long = df_max.melt(id_vars=['year', 'month'], var_name='day', value_name= 'max temperature')
df_max_long

### Pivot
ğŸ—‚  [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html)

Funkce `pivot` transformuje `DataFrame` do nÃ¡mi zvolenÃ©ho tvaru. V parametrech mÅ¯Å¾eme zadat, kterÃ© sloupce majÃ­ bÃ½t pouÅ¾ity jako index, ze kterÃ½ch sloupcÅ¯ se majÃ­ vytvoÅ™it novÃ© sloupce a kterÃ© sloupce obsahujÃ­ reÃ¡lnÃ© hodnoty (pozorovÃ¡nÃ­).

Takto mÅ¯Å¾eme napÅ™Ã­klad `pivot` pouÅ¾Ã­t k tomu, abychom `DataFrame` vrÃ¡tili do pÅ¯vodnÃ­ho Å¡irokÃ©ho formÃ¡tu.

In [ ]:
# reshape to wide format
df_max_long.pivot(index=['year', 'month'], columns='day', values='max temperature')

### Stack
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.stack.html)

Funkce `stack` funguje podobnÄ› jako `melt`, ale melt vytvoÅ™Ã­ novÃ½ sloupec (variable) zatÃ­mco stack pÅ™idÃ¡ dalÅ¡Ã­ ÃºroveÅˆ indexu. `stack` teda pouÅ¾ije nÃ¡zvy sloupcÅ¯ jako dalÅ¡Ã­ level indexu.
![stack](img/reshaping_stack.png)
ğŸ’¡ Å˜Ã¡dek nemusÃ­ bÃ½t identifikovÃ¡n pouze jednou hodnotou indexu. Pokud je hodnot vÃ­ce, takovÃ½ index nazÃ½vÃ¡me `MultiIndex`. ğŸ’¡

In [ ]:
# stacks all columns
df_max.stack()

In [ ]:
# if year and month are set as index, only day columns are stacked
df_max_idx = df_max.set_index(['year', 'month'])
df_max_stacked = df_max_idx.stack()
df_max_stacked

### Unstack
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.unstack.html)

InverznÃ­ funkce k funkci `stack`. Vezme urÄitÃ½ level indexu a zkonvertuje jej na sloupce. DefaultnÄ› se bere nejvnitÅ™nÄ›jÅ¡Ã­ level, ale mÅ¯Å¾eme zadat i jinou ÃºroveÅˆ.
![unstack](img/reshaping_unstack.png)

In [ ]:
df_max_stacked.unstack()

In [ ]:
# equivalent to df_max_stacked.unstack(1)
df_max_stacked.unstack('month')

PÃ¡r tipÅ¯ a trikÅ¯ k stack a unstack najdete napÅ™Ã­klad v tomto [tutoriÃ¡lu](https://towardsdatascience.com/reshaping-a-dataframe-with-pandas-stack-and-unstack-925dc9ce1289).

### ğŸ›  PÅ™Ã­prava na dalÅ¡Ã­ sekci
V dalÅ¡Ã­ sekci by se nÃ¡m hodilo, aby byla data v Å¡irokÃ©m formÃ¡tu. PojÄme tedy pomocÃ­ funkce `melt` transformovat vÅ¡echny `DataFramy`.

In [ ]:
def preprocess(df, value_name):
    # rename columns
    df = df.rename(columns={"rok": "year", "mÄ›sÃ­c": "month"})
    # reshape to long format
    df = df.melt(id_vars=['year', 'month'], var_name='day', value_name= value_name)
    # convert day column from string to int ('3.' -> 3) 
    df.day = df.day.str.replace(".", "", regex=False).astype("int")
    # make index from year month and day 
    df = df.set_index(['year', 'month', 'day'])
    
    return df

df_max = preprocess(df_max, "max temperature")
df_min = preprocess(df_min, "min temperature")
df_avg = preprocess(df_avg, "avg temperature")

df_avg.head()

## â˜ï¸ SpojovÃ¡nÃ­ - Merge, Join, Concat

Co kdyÅ¾ mÃ¡me data ve vÃ­ce `DataFramech` a chtÄ›li bychom je slouÄit do jednoho? I na tohle mÃ¡ `pandas` pÅ™ipraveny rÅ¯znÃ© funkce.

ğŸ‘¨ğŸ½â€ğŸ’» [user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)


### Concat
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

Je to top-level pandas funkce, kterÃ¡ kombinuje `DataFramy` vertikÃ¡lnÄ› nebo horizontÃ¡lnÄ› (podle toho, co zadÃ¡me v parametru axes - 0 znamenÃ¡ vertikÃ¡lnÄ› a 1 horizontÃ¡lnÄ›). Pokud kombinujeme horizontÃ¡lnÄ›, **Å™Ã¡dky se uspoÅ™Ã¡dajÃ­ podle hodnoty indexu**.

In [ ]:
# notice that values in both max temperature columns are identical, it's because concat uses index to align rows
pd.concat([df_min, df_max, df_avg, df_max.sort_values('month')], axis=1)

### Merge
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

`merge` kombinuje dva `DataFramy` **horizontÃ¡lnÄ›**. UspoÅ™Ã¡dÃ¡ Å™Ã¡dky buÄ podle indexu nebo podle sloupce/sloupcÅ¯, kterÃ© zadÃ¡me. DefaultnÄ› funguje jako inner join, ale dÃ¡ se zmÄ›nit na letf, right, cross Äi outer join (znÃ¡te z BI-DBS).

### Join
ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html)

Oproti `merge` nepodoporuje cross join a defaultnÄ› je nastaven jako left join. I kdyÅ¾ je moÅ¾no nastavit pomocÃ­ parametru `on` sloupec, kterÃ½ mÃ¡ slouÅ¾it jako klÃ­Ä, platÃ­ to jen pro prvnÃ­ `DataFrame`. Jako klÃ­Ä druhÃ©ho `DataFramu` se **vÅ¾dy pouÅ¾ije index**.

`merge` a `join` si ukÃ¡Å¾eme na `beverage_df` ze zaÄÃ¡tku tohoto notebooku.

In [ ]:
beverage_df

PÅ™edstavme si, Å¾e jsme Äasem obdrÅ¾eli novÃ¡ mÄ›Å™enÃ­ pro dalÅ¡Ã­ nÃ¡poje. A teÄ chceme obÄ› mÄ›Å™enÃ­ spojit do jednoho `DataFramu`. MÄ›Å™enÃ­ ale nejsou ve stejnÃ©m formÃ¡tu. PrvnÃ­ mÄ›Å™enÃ­ majÃ­ jmÃ©no osoby jako index a ty druhÃ© ho majÃ­ uvedeny v samostatnÃ©m sloupci.

In [ ]:
# new data
beverage_df2 = pd.DataFrame(
    data=[['Honza', 3, 2], ['Emma', 1, 1], ['Alex', 5, 3]],
    columns=['name', 'beer', 'juice']
)
beverage_df2

In [ ]:
# indices do not match
beverage_df2.join(beverage_df)

In [ ]:
# matches beverage_df2 name column with beverage_df index
beverage_df2.join(beverage_df, on='name')

Pokud chceme spojit horizontÃ¡lnÄ› dva `DataFramy` podle nÄ›jakÃ©ho sloupce, `concat` ani `join` v tomto pÅ™Ã­padÄ› nebudou fungovat. MusÃ­me pouÅ¾Ã­t `merge`. Sloupec dokonce mÅ¯Å¾e mÃ­t v obou `DataFramech` rÅ¯znÃ© nÃ¡zev (nÃ¡zvy prodÃ¡me parametry `right_on` a `left_on`).

In [ ]:
# transform index to character column
beverage_df3 = beverage_df.reset_index().rename(columns={'index':'name'})
beverage_df3

In [ ]:
beverage_df3.merge(beverage_df2, on='name')

## â˜ï¸ Group by, agregace

ğŸ‘¨ğŸ½â€ğŸ’» [user guide](https://pandas.pydata.org/docs/user_guide/groupby.html)

ğŸ—‚ [dokumentace](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

Pod pojmem **group by** se rozumÃ­ proces, kterÃ½ se sklÃ¡dÃ¡ z jednoho nebo vÃ­ce nÃ¡sledujÃ­cÃ­ch krokÅ¯:
* rozdÄ›lenÃ­ dat do skupin na zÃ¡kladÄ› zadanÃ½ch kritÃ©riÃ­
* aplikovÃ¡nÃ­ urÄitÃ© funkce na kaÅ¾dou skupinu zvlÃ¡Å¡Å¥
* zkombinovÃ¡nÃ­ vÃ½sledkÅ¯ do nÄ›jakÃ© datovÃ© struktury

In [ ]:
joined = pd.concat([df_min,df_max,df_avg], axis=1)
joined

#### PrvnÃ­ krok - rozdÄ›lenÃ­ dat do skupin na zÃ¡kladÄ› zadanÃ½ch kritÃ©riÃ­
Toho docÃ­lÃ­me pouÅ¾itÃ­m funkce `groupby`. Data mÅ¯Å¾eme slouÄit napÅ™Ã­klad podle mÄ›sÃ­ce:

In [ ]:
grouped = joined.groupby('month')

for name, group in grouped:
    print(name)
    print(group)

#### DruhÃ½ a tÅ™erÃ­ krok - aplikovÃ¡nÃ­ funkce a konstrukce vÃ½sledku
Na vÃ½sledek funkce `groupby` mÅ¯Å¾eme aplikovat agregaÄnÃ­ funkce (napÅ™. min, max, count, avg, ...)

In [ ]:
grouped.min()

In [ ]:
grouped.max()

#### Zkusme si pomocÃ­ groupby odpovÄ›dÄ›t na nÃ¡sledujÃ­cÃ­ otÃ¡zky
â“JakÃ¡ byla nejniÅ¾Å¡Ã­/nejvyÅ¡Å¡Ã­ namÄ›Å™enÃ¡ teplota v jednotlivÃ½ch letech?

â“Kolik dnÃ­ kaÅ¾dÃ½ rok mrzlo (teplota byla pod 0)?

**ğŸ¥¶ğŸ¥¶ğŸ¥¶ NejniÅ¾Å¡Ã­ teplota v jednotlivÃ½ch letech**

In [ ]:
joined.groupby('year').min()['min temperature']

**ğŸ¥µğŸ¥µğŸ¥µ NejvyÅ¡Å¡Ã­ teplota v jednotlivÃ½ch letech**

In [ ]:
joined.groupby('year').max()['max temperature']

**ğŸŒ¡ PoÄet dnÃ­ kdy mrzlo (opÄ›t v jednotlivÃ½ch letech)**

In [ ]:
import numpy as np

def was_freezing(row):
    # don't forget to deal with missing values
    if pd.isnull(row['min temperature']):
        return np.NaN
    
    return row['min temperature'] <= 0

In [ ]:
# creates new row by applying was_freezing funcion to every row
# set axis to 0 to apply function to every column
df_min['freezing'] = df_min.apply(was_freezing, axis=1)
df_min

In [ ]:
df_min.groupby(['year','freezing']).count()

### UloÅ¾enÃ­ dat do souboru

ğŸ—‚[dokumentace](https://pandas.pydata.org/docs/reference/io.html)

Data se do souboru uklÃ¡dajÃ­ pomocÃ­ funkcÃ­ `to_*` definovanÃ½ch na `DataFramu`. Na ukÃ¡zku si mÅ¯Å¾eme zkusit uloÅ¾it `joined DataFrame` do csv souboru, kde budou jednotlivÃ© hodnoty oddÄ›leny `;`:

In [ ]:
# sep means separator
joined.to_csv('results.csv', sep=';')

In [ ]:
# let's verify that save was successful
test = pd.read_csv('results.csv', sep=';')
test

# ğŸ‰ A to je vÅ¡e! ğŸ‰