# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 5. 5. 2025. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

> ‚ùå Zkop√≠rovan√Ω k√≥d ze cviƒçen√≠ (p≈ôedev≈°√≠m ze cviƒçen√≠ 2) nebude uzn√°n!

> ‚ÄºÔ∏è Akceptovateln√Ω je √∫kol pouze v ƒçe≈°tinƒõ, sloven≈°tinƒõ nebo angliƒçtinƒõ.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

‚òùÔ∏è Ve sv√©m ≈ôe≈°en√≠ (kdekoliv) **minim√°lnƒõ jednou vhodnƒõ pou≈æijte box-plot a parallel sets** (tj. pro kategorick√© promƒõnn√©). Pro jejich konstrukci m≈Ø≈æete vyu≈æ√≠t r≈Øzn√© vizualizaƒçn√≠ bal√≠ƒçky.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...) s ohledem na typy graf≈Ø, kter√© se chyst√°te pou≈æ√≠t.
  
K p≈ôedzpracov√°n√≠ se lze vracet i v pr≈Øbƒõhu notebooku.
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohl b√Ωt nƒõjak√Ω vztah (nap≈ô. korelace) a popi≈°te tento vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik. Dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Intake Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

---
## Importing neccessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## üêæ Naƒçten√≠ dat

In [4]:
import pandas as pd

intakes = pd.read_csv("intakes.csv")
outcomes = pd.read_csv("outcomes.csv")
locations = pd.read_csv("locations.csv")

## Analyza intakes

In [5]:
display(intakes.shape)
display(intakes.info())
display(intakes.describe(include='all'))
display(intakes.nunique())
display(intakes.head())

(173812, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173812 non-null  object
 1   Name              123821 non-null  object
 2   DateTime          173812 non-null  object
 3   MonthYear         173812 non-null  object
 4   Found Location    173812 non-null  object
 5   Intake Type       173812 non-null  object
 6   Intake Condition  173812 non-null  object
 7   Animal Type       173812 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173812 non-null  object
 10  Breed             173812 non-null  object
 11  Color             173812 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

None

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,173812,123821,173812,173812,173812,173812,173812,173812,173811,173812,173812,173812
unique,156287,29774,119722,140,70183,6,20,5,5,55,3006,661
top,A721033,Luna,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,761,64,2189,31541,119160,147141,94608,58996,28294,33665,17976

Animal ID           156287
Name                 29774
DateTime            119722
MonthYear              140
Found Location       70183
Intake Type              6
Intake Condition        20
Animal Type              5
Sex upon Intake          5
Age upon Intake         55
Breed                 3006
Color                  661
dtype: int64

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White

Name obsahuje hodne prazdn√Ωch udaju

Intake Type, Animal Type, Intake Condition, Sex upon Intake podle kardinality vypadaji, ≈æe jsou kategoricke

Tak to upravime

In [6]:
# Zmena chybejicich hodnot na NaN

intakes.replace(["", " ", "Unknown", "unknown", "None", "none"], np.nan, inplace=True)

# P≈ôevod na kategoricke

cat_cols = ['Animal Type', 'Sex upon Intake', 'Intake Type', 'Intake Condition']
for col in cat_cols:
    intakes[col] = intakes[col].astype('category')

Kontrola

In [7]:
#Ted to je v poradku

intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173812 non-null  object
 1   Name              123724 non-null  object
 2   DateTime          173812 non-null  object
 3   MonthYear         173812 non-null  object
 4   Found Location    173812 non-null  object
 5   Intake Type       173812 non-null  category
 6   Intake Condition  173764 non-null  category
 7   Animal Type       173812 non-null  category
 8   Sex upon Intake   160270 non-null  category
 9   Age upon Intake   173812 non-null  object
 10  Breed             173803 non-null  object
 11  Color             173812 non-null  object
dtypes: category(4), object(8)
memory usage: 11.3+ MB

In [8]:
# Prevod Age upon Intake na dny

import re

def age_to_days(age):
    if pd.isna(age):            
        return np.nan
    s = str(age).strip().lower()
    if not s:
        return np.nan

    parts = re.findall(r'(\d+)\s*(year|years|month|months|week|weeks|day|days)', s)

    if not parts:
        return np.nan

    total_days = 0
    for num, unit in parts:
        num = int(num)
        if 'year' in unit:
            total_days += num * 365
        elif 'month' in unit:
            total_days += num * 30
        elif 'week' in unit:
            total_days += num * 7
        elif 'day' in unit:
            total_days += num

    return total_days

intakes['age_upon_intake_days'] = intakes['Age upon Intake'].apply(age_to_days)

In [9]:
# Prevod DateTime na datetime type

intakes['DateTime'] = pd.to_datetime(intakes['DateTime'], errors='coerce', infer_datetime_format=True)

/tmp/ipykernel_48215/207500894.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  intakes['DateTime'] = pd.to_datetime(intakes['DateTime'], errors='coerce', infer_datetime_format=True)

Kontrola

In [10]:
# Sedi to

intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Animal ID             173812 non-null  object
 1   Name                  123724 non-null  object
 2   DateTime              173812 non-null  datetime64[ns]
 3   MonthYear             173812 non-null  object
 4   Found Location        173812 non-null  object
 5   Intake Type           173812 non-null  category
 6   Intake Condition      173764 non-null  category
 7   Animal Type           173812 non-null  category
 8   Sex upon Intake       160270 non-null  category
 9   Age upon Intake       173812 non-null  object
 10  Breed                 173803 non-null  object
 11  Color                 173812 non-null  object
 12  age_upon_intake_days  173812 non-null  int64
dtypes: category(4), datetime64[ns](1), int64(1), object(7)
memory usage: 12.6+ MB

---
## üì§ Anal√Ωza datasetu outcomes

Dataset **outcomes** obsahuje informace o zv√≠≈ôatech, kter√° **opustila √∫tulek** (adopce, p≈ôevod do jin√©ho √∫tulku, vr√°cen√≠ majiteli, atd.). Oproti datasetu intakes obsahuje jin√© specifick√© sloupce:

**Specifick√© sloupce v outcomes:**
* üîë `Date of Birth` - datum narozen√≠ zv√≠≈ôete
* üì§ `Outcome Type` - typ odchodu (Adoption, Transfer, Return to Owner, ...)
* üìù `Outcome Subtype` - podtyp odchodu (detaily)
* üë§ `Sex upon Outcome` - pohlav√≠ p≈ôi odchodu (m≈Ø≈æe se li≈°it od p≈ô√≠jmu - kastrace/sterilizace)
* üìÖ `Age upon Outcome` - vƒõk p≈ôi odchodu

Pojƒème se nejprve pod√≠vat na strukturu dat.

In [11]:
display(outcomes.shape)
display(outcomes.info())
display(outcomes.describe(include='all'))
display(outcomes.nunique())
display(outcomes.head())

(173775, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173775 entries, 0 to 173774
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173775 non-null  object
 1   Date of Birth     173775 non-null  object
 2   Name              123991 non-null  object
 3   DateTime          173775 non-null  object
 4   MonthYear         173775 non-null  object
 5   Outcome Type      173729 non-null  object
 6   Outcome Subtype   79660 non-null   object
 7   Animal Type       173775 non-null  object
 8   Sex upon Outcome  173774 non-null  object
 9   Age upon Outcome  173766 non-null  object
 10  Breed             173775 non-null  object
 11  Color             173775 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

None

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,173775,173775,123991,173775,173775,173729,79660,173775,173774,173766,173775,173775
unique,156237,8692,29756,146382,140,11,26,5,5,55,3010,663
top,A721033,2016-05-01,Luna,2016-04-18T00:00:00-05:00,06-2019,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,121,760,39,2244,84598,40410,94505,60933,28782,34039,17999

Animal ID           156237
Date of Birth         8692
Name                 29756
DateTime            146382
MonthYear              140
Outcome Type            11
Outcome Subtype         26
Animal Type              5
Sex upon Outcome         5
Age upon Outcome        55
Breed                 3010
Color                  663
dtype: int64

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A668305,2012-12-01,NaN,2013-12-02T00:00:00-05:00,12-2013,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Brown/Yellow
1,A673335,2012-02-22,NaN,2014-02-22T00:00:00-05:00,02-2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon,Black/Gray
2,A675999,2013-04-03,NaN,2014-04-07T00:00:00-05:00,04-2014,Transfer,Partner,Other,Unknown,1 year,Turtle Mix,Green
3,A679066,2014-04-16,NaN,2014-05-16T00:00:00-05:00,05-2014,NaN,NaN,Other,Unknown,4 weeks,Rabbit Sh,Brown
4,A680855,2014-05-25,NaN,2014-06-10T00:00:00-05:00,06-2014,Transfer,Partner,Bird,Unknown,2 weeks,Duck,Yellow/Black

### üîç Zji≈°tƒõn√≠ z datasetu outcomes

Ze z√°kladn√≠ho p≈ôehledu m≈Ø≈æeme pozorovat:
* Dataset obsahuje **173,776 z√°znam≈Ø** (o 36 m√©nƒõ ne≈æ intakes)
* Celkem **13 sloupc≈Ø** (o 1 v√≠ce ne≈æ intakes - p≈ôid√°n `Date of Birth`)
* Vƒõt≈°ina sloupc≈Ø je typu `object` - budeme muset konvertovat
* Sloupce `Name`, `Outcome Subtype` a `Date of Birth` obsahuj√≠ chybƒõj√≠c√≠ hodnoty
* `Outcome Type` m√° pravdƒõpodobnƒõ kategorie: Adoption, Transfer, Return to Owner, Euthanasia, ...
* `Animal Type`, `Sex upon Outcome`, `Outcome Type`, `Outcome Subtype` vypadaj√≠ jako kategorick√© promƒõnn√©

## üßπ O≈°et≈ôen√≠ chybƒõj√≠c√≠ch hodnot v outcomes

Podobnƒõ jako u intakes, i zde mohou b√Ωt chybƒõj√≠c√≠ hodnoty reprezentov√°ny r≈Øzn√Ωmi zp≈Øsoby:
* pr√°zdn√© ≈ôetƒõzce `""`
* hodnota `"Unknown"`
* hodnota `"None"`
* mezery

P≈ôevedeme v≈°echny tyto varianty na `NaN`.

In [12]:
# Nahrazen√≠ r≈Øzn√Ωch reprezentac√≠ chybƒõj√≠c√≠ch hodnot na NaN
outcomes.replace(["", " ", "Unknown", "unknown", "None", "none"], np.nan, inplace=True)

## ‚úÖ Kontrola zmƒõn po o≈°et≈ôen√≠ chybƒõj√≠c√≠ch hodnot

In [13]:
# Zobrazen√≠ poƒçtu chybƒõj√≠c√≠ch hodnot po konverzi
display(outcomes.head())
display(outcomes.isna().sum().sort_values(ascending=False))

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A668305,2012-12-01,NaN,2013-12-02T00:00:00-05:00,12-2013,Transfer,Partner,Other,NaN,1 year,Turtle Mix,Brown/Yellow
1,A673335,2012-02-22,NaN,2014-02-22T00:00:00-05:00,02-2014,Euthanasia,Suffering,Other,NaN,2 years,Raccoon,Black/Gray
2,A675999,2013-04-03,NaN,2014-04-07T00:00:00-05:00,04-2014,Transfer,Partner,Other,NaN,1 year,Turtle Mix,Green
3,A679066,2014-04-16,NaN,2014-05-16T00:00:00-05:00,05-2014,NaN,NaN,Other,NaN,4 weeks,Rabbit Sh,Brown
4,A680855,2014-05-25,NaN,2014-06-10T00:00:00-05:00,06-2014,Transfer,Partner,Bird,NaN,2 weeks,Duck,Yellow/Black

Outcome Subtype     94115
Name                49880
Sex upon Outcome    13506
Outcome Type           46
Age upon Outcome        9
Breed                   9
Animal ID               0
Date of Birth           0
DateTime                0
MonthYear               0
Animal Type             0
Color                   0
dtype: int64

### üìä Pozorov√°n√≠

Sloupce s nejv√≠ce chybƒõj√≠c√≠mi hodnotami:
* `Name` - mnoho zv√≠≈ôat nem√° jm√©no (zejm√©na toulav√≠)
* `Outcome Subtype` - ne v≈°echny typy odchodu maj√≠ podtyp
* `Date of Birth` - nƒõkter√° data narozen√≠ nejsou zn√°ma
* `Sex upon Outcome` - nƒõkter√° pohlav√≠ nejsou urƒçena

## üî† Konverze kategorick√Ωch promƒõnn√Ωch

Pro efektivnƒõj≈°√≠ pr√°ci s pamƒõt√≠ a lep≈°√≠ anal√Ωzu p≈ôevedeme kategorick√© sloupce na datov√Ω typ `category`:

* `Animal Type` - typ zv√≠≈ôete (Dog, Cat, Bird, Other, Livestock)
* `Sex upon Outcome` - pohlav√≠ p≈ôi odchodu
* `Outcome Type` - typ odchodu z √∫tulku
* `Outcome Subtype` - podtyp odchodu

In [14]:
# Konverze kategorick√Ωch sloupc≈Ø na typ category
cat_cols_outcomes = ['Animal Type', 'Sex upon Outcome', 'Outcome Type', 'Outcome Subtype']
for col in cat_cols_outcomes:
    outcomes[col] = outcomes[col].astype('category')

# Kontrola zmƒõn
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173775 entries, 0 to 173774
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173775 non-null  object
 1   Date of Birth     173775 non-null  object
 2   Name              123895 non-null  object
 3   DateTime          173775 non-null  object
 4   MonthYear         173775 non-null  object
 5   Outcome Type      173729 non-null  category
 6   Outcome Subtype   79660 non-null   category
 7   Animal Type       173775 non-null  category
 8   Sex upon Outcome  160269 non-null  category
 9   Age upon Outcome  173766 non-null  object
 10  Breed             173766 non-null  object
 11  Color             173775 non-null  object
dtypes: category(4), object(8)
memory usage: 11.3+ MB

## üî¢ P≈ôevod vƒõku na ƒç√≠selnou hodnotu

Sloupec `Age upon Outcome` obsahuje vƒõk v textov√© podobƒõ (nap≈ô. "2 years", "3 months", "1 week"). Pro anal√Ωzu pot≈ôebujeme ƒç√≠selnou hodnotu ve dnech.

Pou≈æijeme stejnou funkci `age_to_days()`, kterou jsme vytvo≈ôili pro intakes dataset.

In [15]:
# Pou≈æit√≠ stejn√© funkce pro konverzi vƒõku na dny
outcomes['age_upon_outcome_days'] = outcomes['Age upon Outcome'].apply(age_to_days)

# Kontrola v√Ωsledku
display(outcomes[['Age upon Outcome', 'age_upon_outcome_days']].head(10))
display(outcomes['age_upon_outcome_days'].describe())

  Age upon Outcome  age_upon_outcome_days
0           1 year                  365.0
1          2 years                  730.0
2           1 year                  365.0
3          4 weeks                   28.0
4          2 weeks                   14.0
5          2 weeks                   14.0
6          2 weeks                   14.0
7          2 weeks                   14.0
8          2 weeks                   14.0
9          2 weeks                   14.0

count    173766.000000
mean        723.301210
std        1021.682936
min           0.000000
25%          60.000000
50%         365.000000
75%         730.000000
max       10950.000000
Name: age_upon_outcome_days, dtype: float64

## üìÖ Konverze DateTime na typ datetime64

Sloupec `DateTime` obsahuje ƒçasov√© raz√≠tko ve form√°tu textu. P≈ôevedeme ho na typ `datetime64[ns]` pro lep≈°√≠ pr√°ci s ƒçasov√Ωmi daty.

In [ ]:
# Konverze DateTime na datetime64
outcomes['DateTime'] = pd.to_datetime(outcomes['DateTime'], errors='coerce')

Poƒçet nevalidn√≠ch DateTime hodnot: 170191

Markdown Cell 9:
## üéÇ Konverze Date of Birth na typ datetime64

Sloupec `Date of Birth` tak√© p≈ôevedeme na typ `datetime64[ns]`.

In [ ]:
# Konverze Date of Birth na datetime64
outcomes['Date of Birth'] = pd.to_datetime(outcomes['Date of Birth'], errors='coerce')

Poƒçet chybƒõj√≠c√≠ch hodnot v Date of Birth: 0

## üìã Fin√°ln√≠ p≈ôehled datasetu outcomes po p≈ôedzpracov√°n√≠

In [22]:
# Zobrazen√≠ fin√°ln√≠ho stavu datasetu
display(outcomes.info())
display(outcomes.head())

# Statistiky numerick√©ho sloupce
display(outcomes['age_upon_outcome_days'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173775 entries, 0 to 173774
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Animal ID              173775 non-null  object
 1   Date of Birth          173775 non-null  datetime64[ns]
 2   Name                   123895 non-null  object
 3   DateTime               3584 non-null    datetime64[ns, UTC-05:00]
 4   MonthYear              173775 non-null  object
 5   Outcome Type           173729 non-null  category
 6   Outcome Subtype        79660 non-null   category
 7   Animal Type            173775 non-null  category
 8   Sex upon Outcome       160269 non-null  category
 9   Age upon Outcome       173766 non-null  object
 10  Breed                  173766 non-null  object
 11  Color                  173775 non-null  object
 12  age_upon_outcome_days  173766 non-null  float64
dtypes: category(4), datetime64[ns, UTC-05:00](1), datetime64[ns](1), float64(1), object(6)
memory usage: 12.6+ MB

None

,Animal ID,Date of Birth,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,age_upon_outcome_days
0,A668305,2012-12-01,NaN,2013-12-02 00:00:00-05:00,12-2013,Transfer,Partner,Other,NaN,1 year,Turtle Mix,Brown/Yellow,365.0
1,A673335,2012-02-22,NaN,2014-02-22 00:00:00-05:00,02-2014,Euthanasia,Suffering,Other,NaN,2 years,Raccoon,Black/Gray,730.0
2,A675999,2013-04-03,NaN,2014-04-07 00:00:00-05:00,04-2014,Transfer,Partner,Other,NaN,1 year,Turtle Mix,Green,365.0
3,A679066,2014-04-16,NaN,2014-05-16 00:00:00-05:00,05-2014,NaN,NaN,Other,NaN,4 weeks,Rabbit Sh,Brown,28.0
4,A680855,2014-05-25,NaN,2014-06-10 00:00:00-05:00,06-2014,Transfer,Partner,Bird,NaN,2 weeks,Duck,Yellow/Black,14.0

count    173766.000000
mean        723.301210
std        1021.682936
min           0.000000
25%          60.000000
50%         365.000000
75%         730.000000
max       10950.000000
Name: age_upon_outcome_days, dtype: float64