# Dom√°c√≠ √∫kol ƒç. 1 - üïµÔ∏è‚Äç‚ôÄÔ∏è Exploraƒçn√≠ anal√Ωza dat

## üìö Data
V souborech `intakes.csv` a `outcomes.csv` naleznete data z √∫tulku ve mƒõstƒõ Austin, Texas USA. Data poch√°zej√≠ z ofici√°ln√≠ho [zdroje otev≈ôen√Ωch dat mƒõsta Austin](https://data.austintexas.gov/).

Dataset [intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) obsahuje data o p≈ôijat√Ωch zv√≠≈ôatech od 1. 10. 2013 do 5. 5. 2025. Dataset [outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) obsahuje √∫daje o zv√≠≈ôatech, kter√° √∫tulek opustila (nap≈ô. byla adoptov√°na, vr√°cena majiteli a podobnƒõ) za tent√Ω≈æ ƒçasov√Ω interval. M≈Ø≈æe se st√°t, ≈æe zv√≠≈ôata p≈ôijat√° do 1. 10. 2013 se nevyskytuj√≠ v `intakes.csv` (data se je≈°tƒõ neshroma≈æƒèovala), ale budou m√≠t z√°znam v `outcomes.csv`, pokud √∫tulek po tomto datu opustila.

‚òùÔ∏è Ka≈æd√Ω dataset m≈Ø≈æe **stejn√© zv√≠≈ôe obsahovat v√≠ckr√°t** (1. nƒõkter√° zv√≠≈ôata se do √∫tulku vracela - to je trochu komplikace, pokud byste datasety chtƒõli spojit - pro ≈ôe≈°en√≠ √∫kolu spojov√°n√≠ ale nen√≠ nutn√©, 2. nƒõkter√© z√°znamy jsou duplicitn√≠ - ty m≈Ø≈æete odstranit, jedn√° se o chybu). 

## Zad√°n√≠
> ‚òùÔ∏è Pou≈æ√≠vejte markdown bu≈àky! Zd≈Øvod≈àujte v≈°echny d≈Øle≈æit√© kroky, popisujte vizualizace a co je z nich mo≈æn√© pozorovat. Za nep≈ôehledn√Ω dom√°c√≠ √∫kol nebudou udƒõleny body.

> ‚ùå Zkop√≠rovan√Ω k√≥d ze cviƒçen√≠ (p≈ôedev≈°√≠m ze cviƒçen√≠ 2) nebude uzn√°n!

> ‚ÄºÔ∏è Akceptovateln√Ω je √∫kol pouze v ƒçe≈°tinƒõ, sloven≈°tinƒõ nebo angliƒçtinƒõ.

Za ≈ô√°dn√© pr≈Øbƒõ≈æn√© komentov√°n√≠ a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø lze z√≠skat a≈æ 3 body.

‚òùÔ∏è Ve sv√©m ≈ôe≈°en√≠ (kdekoliv) **minim√°lnƒõ jednou vhodnƒõ pou≈æijte box-plot a parallel sets** (tj. pro kategorick√© promƒõnn√©). Pro jejich konstrukci m≈Ø≈æete vyu≈æ√≠t r≈Øzn√© vizualizaƒçn√≠ bal√≠ƒçky.

**‚ú® P≈ô√≠prava dat** (celkem 4 body)
* Importujte pot≈ôebn√© bal√≠ƒçky.
* Naƒçtƒõte si datasety intakes a outcomes z p≈ô√≠slu≈°n√Ωch csv soubor≈Ø.
* Seznamte se s obƒõma datasety a sv√° zji≈°tƒõn√≠ komentujte:
  * P≈ô√≠klad informac√≠, kter√© lze zjistit: poƒçet ≈ô√°dk≈Ø datasetu, poƒçet a v√Ωznam p≈ô√≠znak≈Ø, datov√Ω typ p≈ô√≠znak≈Ø a poƒçet jejich unik√°tn√≠ch hodnot, ...
* Vyƒçistƒõte a zkonvertujte data:
  * Zjistƒõte jak√Ωm zp≈Øsobem jsou v datasetu uv√°dƒõny chybƒõj√≠c√≠ hodnoty a v p≈ô√≠padƒõ pot≈ôeby je p≈ôepi≈°te na NaN.
  * Zkonvertujte kategorick√© p≈ô√≠znaky na typ category.
  * P≈ôeveƒète p≈ô√≠znak Age upon Intake/Outcome na numerick√Ω p≈ô√≠znak.
  * P≈ôeveƒète p≈ô√≠znak DateTime na typ datetime64.
  * Proveƒète v≈°echny dal≈°√≠ √∫pravy, kter√© v√°m d√°vaj√≠ smysl (konverze dal≈°√≠ch p≈ô√≠znak≈Ø, odstranƒõn√≠ duplicitn√≠ch √∫daj≈Ø, p≈ôid√°n√≠ nov√Ωch p≈ô√≠znak≈Ø, ...) s ohledem na typy graf≈Ø, kter√© se chyst√°te pou≈æ√≠t.
  
K p≈ôedzpracov√°n√≠ se lze vracet i v pr≈Øbƒõhu notebooku.
  
**üñäÔ∏è Deskriptivn√≠ statistiky** (celkem 6 bod≈Ø)

Volbu vhodn√Ωch statistik pro dan√Ω typ dat komentujte a pokud je to mo≈æn√©, vyu≈æ√≠vejte co nejv√≠ce vizualizace.
* Popi≈°te p≈ô√≠znaky Age upon Intake a DateTime (p≈Øvodnƒõ z datasetu intakes) pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik.
* Vyberte si t≈ôi dal≈°√≠ p≈ô√≠znaky a popi≈°te je pomoc√≠ univariaƒçn√≠ch deskriptivn√≠ch statistik, kter√© jsou pro nƒõ vhodn√©.
* Vyberte si dva p≈ô√≠znaky, mezi kter√Ωmi by mohl b√Ωt nƒõjak√Ω vztah (nap≈ô. korelace) a popi≈°te tento vztah pomoc√≠ bivariaƒçn√≠ch deskriptivn√≠ch statistik. Dvojice typu Age upon Intake a Age upon Outcome neuzn√°v√°me.

**‚ùì Zadan√© ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Pomoc√≠ vhodn√Ωch vizualizac√≠ odpov√≠dejte na n√°sleduj√≠c√≠ ot√°zky:
* Z√°vis√≠ typ odchodu zv√≠≈ôete z √∫tulku (Outcome Type) na typu p≈ô√≠chodu (Intake Type)? Pokud chcete, uva≈æujte pro zjednodu≈°en√≠ pouze zv√≠≈ôata, kter√° se v ka≈æd√©m datasetu vyskytuj√≠ pr√°vƒõ jednou.
* Hraje vƒõk zv√≠≈ôete roli p≈ôi adopci?
* Je p≈ô√≠jem zv√≠≈ôat v r√°mci roku konstantn√≠ nebo existuj√≠ obdob√≠ s vƒõt≈°√≠/ni≈æ≈°√≠ z√°tƒõ≈æ√≠?

K jedn√© ot√°zce m≈Ø≈æete v p≈ô√≠padƒõ pot≈ôeby vytvo≈ôit v√≠ce vizualizac√≠. V√Ωsledek vizualizace a v≈°echny mezikroky komentujte.

**‚ùì Vlastn√≠ ot√°zky** (2 body za ka≈ædou ot√°zku, celkem max. 6 bod≈Ø)

Vymyslete **minim√°lnƒõ t≈ôi** vlastn√≠ ot√°zky a odpov√≠dejte na nƒõ vhodn√Ωmi vizualizacemi. Ot√°zky m≈Ø≈æete postavit na ji≈æ zm√≠nƒõn√Ωch datasetech. Tak√© je mo≈æn√© vyu≈æ√≠t t≈ôet√≠ dataset [locations](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2), kter√Ω naleznete v souboru locations.csv, nebo si m≈Ø≈æete st√°hnout nƒõjak√° dal≈°√≠ zaj√≠mav√° data, kter√° souvis√≠ s t√≠mto t√©matem.

Dataset locations poskytuje informace o v≈°ech toulav√Ωch koƒçk√°ch a psech, kter√© jsou v datab√°zi √∫tulku **m√©nƒõ ne≈æ t√Ωden**. Vƒõt≈°ina se nach√°z√≠ v √∫tulku, ale ƒç√°st z nich je u dobrovoln√≠k≈Ø ‚Äì tato informace je uvedena ve sloupci At AAC (AAC ‚Äì Austin Animal Center).

### Bodov√© hodnocen√≠
Shrnut√≠ bod≈Ø, kter√© m≈Ø≈æete nejv√Ω≈°e z√≠skat:
- 3 body za koment√°≈ôe a vizu√°ln√≠ prezentaci postupu a v√Ωsledk≈Ø,
- 4 body za p≈ô√≠pravu dat,
- 6 bod≈Ø za deskriptivn√≠ statistiku,
- 6 bod≈Ø za zodpovƒõzen√≠ v≈°ech zadan√Ωch ot√°zek,
- 6 bod≈Ø za definici a zodpovƒõzen√≠ minim√°lnƒõ t≈ô√≠ vlastn√≠ch ot√°zek.

Celkem lze za dom√°c√≠ √∫kol ƒç. 1 z√≠skat maxim√°lnƒõ 25 bod≈Ø.

In [ ]:
# a teƒè u≈æ je to na v√°s üí™
# n√≠≈æe vlo≈æte sv√© ≈ôe≈°en√≠

# Inicializace datasetu

import pandas as pd

intakes = pd.read_csv("intakes.csv")
outcomes = pd.read_csv("outcomes.csv")
locations = pd.read_csv("locations.csv")

In [13]:
# Dataset obsahuje 173812 ≈ô√°dk≈Ø a 12 sloupc≈Ø

display(intakes.shape)

(173812, 12)

In [15]:
# Ka≈ædy sloupec ma Dtype object, to by pot≈ôebovalo upravy

display(intakes.info())
display(intakes.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173812 non-null  object
 1   Name              123821 non-null  object
 2   DateTime          173812 non-null  object
 3   MonthYear         173812 non-null  object
 4   Found Location    173812 non-null  object
 5   Intake Type       173812 non-null  object
 6   Intake Condition  173812 non-null  object
 7   Animal Type       173812 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173812 non-null  object
 10  Breed             173812 non-null  object
 11  Color             173812 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

None

Animal ID               0
Name                49991
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

In [22]:
intakes[intakes["Name"].isna()]

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
5,A664238,NaN,10/01/2013 09:33:00 AM,October 2013,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,American Shorthair Mix,Black/White
6,A664234,NaN,10/01/2013 10:37:00 AM,October 2013,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
173806,A929681,NaN,05/03/2025 08:25:00 PM,May 2025,6816 Boyce Ln in Austin (TX),Stray,Neonatal,Cat,Intact Female,1 weeks,Domestic Shorthair,Brown Tabby
173807,A929690,NaN,05/03/2025 11:18:00 PM,May 2025,8038 Exchange Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Belgian Malinois,Brown/Black
173808,A929717,NaN,05/04/2025 03:14:00 PM,May 2025,Austin (TX),Public Assist,Normal,Dog,Intact Male,1 year,Shih Tzu Mix,White/Blue
173809,A929724,NaN,05/04/2025 07:43:00 PM,May 2025,7105 Providence Ave Apt 3 in Austin (TX),Stray,Normal,Other,Unknown,1 year,Rabbit Sh,Tan/White
173811,A929635,NaN,05/04/2025 11:44:00 PM,May 2025,708 Simonetti in Austin (TX),Stray,Normal,Cat,Spayed Female,2 years,Domestic Shorthair,Black/White

In [11]:
display(intakes.shape)
display(intakes.info())
# display(intakes.head(1))
display(intakes.columns)
display(intakes.isnull().sum())
display(intakes.describe())

(173812, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173812 non-null  object
 1   Name              123821 non-null  object
 2   DateTime          173812 non-null  object
 3   MonthYear         173812 non-null  object
 4   Found Location    173812 non-null  object
 5   Intake Type       173812 non-null  object
 6   Intake Condition  173812 non-null  object
 7   Animal Type       173812 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173812 non-null  object
 10  Breed             173812 non-null  object
 11  Color             173812 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

None

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color'],
      dtype='object')

Animal ID               0
Name                49991
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,173812,123821,173812,173812,173812,173812,173812,173812,173811,173812,173812,173812
unique,156287,29774,119722,140,70183,6,20,5,5,55,3006,661
top,A721033,Luna,09/23/2016 12:00:00 PM,June 2015,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,761,64,2189,31541,119160,147141,94608,58996,28294,33665,17976

In [19]:
# Kontrola jake sloupce jsou kategoricke

display(intakes.nunique())
display(intakes['Intake Type'].unique())
display(intakes['Sex upon Intake'].unique())

Animal ID           156287
Name                 29774
DateTime            119722
MonthYear              140
Found Location       70183
Intake Type              6
Intake Condition        20
Animal Type              5
Sex upon Intake          5
Age upon Intake         55
Breed                 3006
Color                  661
dtype: int64

array(['Stray', 'Owner Surrender', 'Public Assist', 'Euthanasia Request',
       'Wildlife', 'Abandoned'], dtype=object)

array(['Spayed Female', 'Unknown', 'Intact Female', 'Intact Male',
       'Neutered Male', nan], dtype=object)